.contenedor {
    max-width: 50%;
    margin: 0 auto;

}
.border {
    border-color: solid 3px;
    color: rgb(38, 0, 255); 

}
.perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}